
<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="margin-top-bottom">
     <input formControlName="name" placeholder="Name" />
    </div>

    <div class="margin-top-bottom">
       <input formControlName="email" placeholder="Email" type="email" />
    </div>

    <div class="margin-top-bottom">
      <input formControlName="password" placeholder="Password" type="password" />
    </div>

    <div class="margin-top-bottom">
      <button type="submit">Register</button>
    </div>
  </form>
</div>